/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/home.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to right,
    #63DFFA,
    #6C47FF,
    #63DFFA
  );
  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  -webkit-background-clip: text;
          background-clip: text;
}

@keyframes gradimate {
  0% {
    background-position-x: 0% ;
    
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 200%;
  }
}

