/* styles/AddressBook.module.css */
.container {
  display: flex;
  height: 100vh;
  background-color: #0d1117; /* 深色背景 */
  color: #c9d1d9; /* 浅灰色字体 */
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #161b22; /* 侧边栏背景色 */
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profilePic {
  border-radius: 50%;
  background-image: url('./img//userp.png'); /* 背景图片路径 */
      background-size: cover; /* 背景图片填充满 */
      background-position: center; /* 背景图片居中 */
      background-repeat: no-repeat; /* 不重复背景图片 */
}

.profile h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff; /* 白色字体 */
}

.profile p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #8b949e; /* 浅灰色字体 */
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  padding: 10px 0;
  cursor: pointer;
  color: #8b949e; /* 浅灰色字体 */
}

.navList li.active {
  font-weight: bold;
  color: #ffffff; /* 白色字体 */
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #0d1117; /* 深色背景 */
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.newTransaction {
  background-color: #238636; /* 绿色按钮背景 */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff; /* 白色字体 */
  font-weight: bold;
  border-radius: 5px;
}

.addressBook {
  margin-top: 20px;
}

.addressBook h1 {
  margin-bottom: 20px;
}

.addressEntry {
  display: flex;
  align-items: center;
  background-color: #21262d; /* 条目背景色 */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addressEntry h2 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
  color: #ffffff; /* 白色字体 */
}

.addressEntry p {
  margin: 0;
  font-size: 0.9rem;
  color: #8b949e; /* 浅灰色字体 */
}

.sendButton {
  margin-left: auto;
  background-color: #d73a49; /* 红色按钮背景 */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff; /* 白色字体 */
  font-weight: bold;
  border-radius: 5px;
}